# Build
build/
cmake-build-*/

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# JetBrains (CLion)
.idea/
*.iws

# Compiled objects
*.o
*.obj
*.lo
*.slo

# Precompiled headers
*.gch
*.pch

# Libraries
*.so
*.dylib
*.dll
*.a
*.la
*.lai
*.lib

# Executables
*.exe
*.out
*.app
